@model IEnumerable<Controle_Escolas_e_Alunos.Models.Alunos>

@{
    ViewData["Title"] = "Alunos Matriculados";
}

<h1>Alunos Matriculados</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escolas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escolas.Escola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Escolas.EscolasId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlunosId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AlunosId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.AlunosId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
